 /* .nav {
    padding-left: 0;
    padding-right: 50px;
    margin-bottom: 0;
    list-style: none;
}  */


body{
    background-color: #f0f4f7;
    font-family: 'Raleway', sans-serif;
    /* height: 100pv; */
}

/* *********************** Logo y header *********************** */
.my-header{
    max-height: 100px;
    background-color: #232323;
}

.my-header .my-logo{
    webkit-transition: width 0.9s cubic-bezier(0.81, -0.05, 0.24, 1.31);
    -o-transition: width 0.9s ease-in-out;
    transition: width 0.9s cubic-bezier(0.81, -0.05, 0.24, 1.31);
    display: block;
    float: left;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    width: 230px;
    padding: 0 15px;
    font-weight: 300;
    overflow: hidden;

}

/* ------------------------------- */
/* Div de la zona de la derecha */
.my-div-right{
    float: right;
    position: absolute;
    right: 1px;
}

/* *********************** Alerta de icono *********************** */
.my-header .navbar .nav > li > a > .label{
    position: absolute;
    top: 9px;
    right: 7px;
    text-align: center;
    font-size: 9px;
    padding: 2px 3px;
    line-height: .9;
}

.label-default{
    background-color: #f13720;
}

/* *********************** Seccion del Usuario*********************** */
.navbar-nav .user-menu .user-image{
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-top: -2px;
}

.navbar-nav .user-menu .dropdown-menu{
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding: 1px 0 0 0;
    border-top-width: 0;
    width: 240px;
    height: 230px;
    position: absolute;
    right: 8px;
    left: auto;
}

.navbar-nav .user-menu .dropdown-menu li.my-user-header img{
    height: 90px;
    width: 90px;
    border: 3px solid;
    border-color: transparent;
    border-color: rgba(0, 0, 0, 0.2);
}

.navbar-nav .user-menu .dropdown-menu li.my-user-header{
    height: 175px;
    padding: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.07);
}

.navbar-nav .user-menu .dropdown-menu li.my-user-footer{
    background-color: #f9f9f9;
    padding: 10px;
}

/* ----------------------------- */
a:focus, a:hover{
    text-decoration: none;
    background-color: rgba(8, 8, 8, 0.54);
    color: #e43c5c;
    font-weight: 400;
    border-left: 1px groove #e43c5c;
    border-right: 1px groove #e43c5c;
}

a, .my-logo{
    color: #fff;
    text-decoration: none;
}

a:hover:focus, .my-logo{
    color: #fff;
    text-decoration: none;
}

.nav > li > a:focus, .nav > li > a:hover{
    text-decoration: none;
    background-color: rgba(8, 8, 8, 0.54);
    color: #e43c5c;
    font-weight: 400;
    border-left: 1px groove #e43c5c;
    border-right: 1px groove #e43c5c;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
    background-color: transparent;
}
/* ---------------------------- */
div#barra-menu{
    overflow: visible;
}

/* *********************** Wrapper *********************** */
#sidebar-wrapper{
    position: absolute;
    top: auto;
    margin-top: -20px;
    z-index: 100;
    left: 220px;
    width: 0;
    height: 100%;
    margin-left: -220px;
    overflow-x: auto; 
    overflow-y: auto; 
    background: #232323;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper{
    width: 210px;
}

/* *********************** Mini sidebar *********************** */
.sidebar-nav li a{
    display: block;
    color: #ddd;
    text-decoration: none;
    padding: 10px 15px 10px 30px;
}

.sidebar-nav li{
    position: relative;
    line-height: 20px;
    display: inline-block;
    width: 100%;
}

.sidebar-nav{
    position: absolute;
    top: 0;
    width: 210px;
    margin: 0;
    padding: 0;
    list-style: none;    
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

.sidebar-nav > .sidebar-brand{
    height: 65px;
    font-size: 20px;
    line-height: 44px;
}

.sidebar-nav li>.sidebar-brand a{
    color: #fff;
    background-color: #1e1e1e;
}

.sidebar-nav .dropdown-menu{
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #0a0a0a;
}

/* Efecto del color del mini sidebar */
.sidebar-nav li:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    z-index: -1;
    background-color: #1c1c1c;
    -webkit-transition: width .2s ease-in;
    -moz-transition: width .2s ease-in;
    -ms-transition: width .2s ease-in;
    transition: width .2s ease-in;
}

.sidebar-nav li.my-li-nav:before{
    background-color: #e43c5c;
}

.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before{
    width: 100%;
    -webkit-transition: width .2s ease-in;
    -moz-transition: width .2s ease-in;
    -ms-transition: width .2s ease-in;
    transition: width .2s ease-in;
}

/* Botones laterales desplegables */
.hamburger{
    top: 0px;
    width: 32px;
    height: 32px;
    margin-left: 15px;
    background: transparent;
    color: #fff;
    border: none;
}

a.hamburger:hover{
    color: #e43c5c;
    background: none;
    border: none;
}

a.btnbarra:hover{
    color: #e43c5c;
    background: none;
    border: none;
    top:-15px;
}

/* ------------------------------------------ */

#page-content-wrapper {
    width: 100%;
    padding-top: 5px;
    background-color: #fff;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -210px;
}

/* --- --- MAIN --- --- */
.main {
	padding-top: 0px;
}

.main .columna {
	/* padding-left: 40px; */
	padding-right: 40px;
}

.main .titulo {
	color: #262a34;
	font-size: 25px;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 20px;
}


/* ---- */
.row {
    margin-right: 0px;
    margin-left: 230px;
}

.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}

.flex-wrap {
    -ms-flex-wrap: wrap!important;
    flex-wrap: wrap!important;
}
/* --- Widget Estadisticas --- */
.main .estadisticas .contenedor {
	box-shadow: 0px 1px 1px 0px rgba(0,0,0,.2);
}

.main .estadisticas .caja {
	background: #fff;
	border: 1px solid #e3e3e3; 
	padding: 40px 20px;
	flex: 1;
	text-align: center;
    font-family: 'Roboto', sans-serif;
    /* border-radius: 10px; */

}

.main .estadisticas .caja.cajapeq {
    background: #fff;
    border: 1px solid #e3e3e3;
    padding: 0px 20px;
    flex: 1;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    /* border-radius: 10px; */
}

.main .estadisticas .caja h3 {
    margin-top: 0px;
	margin-bottom: 0px;
	color: #e43c5c;
}

.main .estadisticas .caja p {
	color: #a8a8a8;
	margin-bottom: 0;
}

.main .estadisticas .caja:first-child {
    border-right: none;
    /* padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px; */
}

.main .estadisticas .caja:last-child {
	border-left: none;
}


/* ---------- */
.estadisticas-conten1{
    margin-top: 30px;
}

.estadisticas-conten2{
    height: 300px;
}

.btn{
    margin-top: 15px;
    color: #e43c5c;
    border-radius: 16px;
}

.main .estadisticas .de-lado{
    text-align: left;
}
.panel-heading{
    padding-left: 50px;
    padding-right: 50px;
}

.panel-heading.scroll{
    padding-left: 10px;
    padding-right: 10px;
}

.panel-title b{
    font-size: 20px;
}

.panel-body{
    text-align: center;
}

.panel-body.scroll{
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}

.panel-body h4{
    color: #e43c5c;
}

.boxContenedor {
    margin-bottom: 0px;
    width: 250px;
    height:200px; 
    overflow:scroll;
}

.dropdown-header.scroll{
    padding: 0px 0px;
    font-size: 14px;
}

/* ------------ */
/* --- Widget Comentarios --- */
.main .comentarios .contenedor {
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
}

.main .comentarios .comentario {
	background: #fff;
	padding: 20px;
	border-bottom: 1px solid #dfdfdf;
}

.main .comentarios .comentario .foto {
	width: 64px;
	height: 64px;
	overflow: hidden;
	margin-right: 20px;
	border-radius: 100px;
}

.main .comentarios .comentario .foto a {
	display: inline-block;
}

.main .comentarios .comentario .foto img {
	width: 100%;
}

.main .comentarios .comentario .texto {
	flex: 1;
}

.main .comentarios .comentario .texto .texto-comentario {
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}

.main .comentarios .comentario .botones button {
	background: none;
	cursor: pointer;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 500;
	border: none;
	display: inline-block;
	padding: 5px 10px;
	border-radius: 3px;
	transition: all .3s ease;
	margin-right: 10px;
	margin-bottom: 10px;
}

.main .comentarios .comentario .botones .aprobar {background: #35ae6b;}
.main .comentarios .comentario .botones .eliminar {background: #b74848;}
.main .comentarios .comentario .botones .bloquear {color: #acacac;}

.main .comentarios .comentario .botones .aprobar:hover {background: #449d44;}
.main .comentarios .comentario .botones .eliminar:hover {background: #c9302c;}
.main .comentarios .comentario .botones .bloquear:hover {
	background: #acacac;
	color: #fff;
}




/* -------------------------------------------------- Página de música ----------------------------------------- */

/**************************************  
Servicios
***************************************/
.container .row{
    margin-left: 180px;
}

.service-box {
    margin: 0 0 60px;
    display: inline-block;
}

.pg-titl-bdr-btm {
	width: 100px;
	height: 3px;
	background-color: #e43c5c;
}

.service-box:hover, .service-box:hover i{
    color: #e43c5c;
    background-color: #fff;
    transition: all .2s ease-in-out;
    border-radius: 25px;   
}

.service-box .service-icon {
    padding-top: 10px;
    width: 80px;
    height: 80px;
    /* border-radius: 50px; */
    overflow: hidden;
    /* border: 1px solid #e9e9e9; */
    line-height: 75px;
    text-align: center;
    color: #e43c5c;
    font-size: 60px;
    margin-right: 15px;
    margin-left: 40%;
    float: left;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.service-box .service-text {
    padding-top: 10px;
    width: 90%;
    float: left;
    margin-bottom: 20px;
    margin-left: 20px;
    text-align: center;
}

.service-box .service-text h3 {
    margin: 0 0 20px 0;
    padding: 0 0 0 0;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.page-title
{
    margin-bottom: 80px;
    margin-top: 60px;
}


.page-title h1{
    color: #e43c5c;
}


/* ---------------------------------------- Página de Opciones------------------------------------------------- */
.settings-section {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    min-width: 850px;
    max-width: 1048px;
    margin: 0 auto 30px;
    box-sizing: border-box;
}

/* *********************** Media Query ***********************  */
@media (max-width: 767px){
    .my-header .my-logo{
        width: 100%;
        color: #e43c5c;
    }

    .navbar-toggle{
        float: left;
        font-size: large;
        top: -15px;
        border-radius: 0px;
    }

    .my-navbar-left{
        float: left;
        background-color: #232323;
        position: absolute;
        top: 100px;
        left: 0px;
        width: 100px;
    }

    ul.nav.navbar-nav.my-right-ul{
        display: -webkit-inline-box;
        display: flex;
    }

    .my-div-right{
        position: relative;
        top: 0px;
        right: 0px;
        display: flex;
        justify-content: center;
        width: 100%;
    }
}






