 
/*  
 body{
    background-color: #f0f4f7;
}  */

/**************************************
Header
**************************************/
.section-padding
{
	padding: 40px 0px;
}

.main-navigation
{
    border-bottom: 1px solid #eee;
    border-bottom: 5px solid #e43c5c;
}

.navbar-default {
    background-color: #fff;
    border-color: rgba(231, 231, 231, 0.33);
    padding: 20px 0px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #354242;
    background-color: #fff;
}

.navbar-nav {
    padding-top: 5px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus
{
    border-bottom: 2px solid #e43c5c;
    color: #e43c5c;
    outline: none;
}

.navbar, .navbar-header  {
	min-height: inherit;
	margin-bottom: 0px;
}

.navbar-brand {
	height: inherit;
	font-family: 'Josefin Slab';
	font-weight: 520;
	padding: 5px;
    font-size: 42px;
    margin-top: 5px;
}

.navbar-default .navbar-brand {
    color: #e43c5c;
}

.navbar-default .navbar-nav > li > a {
	color: #354242;
	font-weight: 600;
	text-transform: uppercase;
	margin: 0px 10px;
	padding-bottom: 5px;
	font-size: 14px;
}

.nav > li > a
{
	padding: 0px;
}


/**************************************
BANNER
**************************************/
.jumbotron
{
    background-color: transparent;
    padding-top: 90px;
}
.jumbotron p.big
{
    line-height: 21px;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    letter-spacing: 6px;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    color: #ffffff;
    padding-top: 10px;
}

a.btn-banner {
    border: 1px solid #cdcdcd;
    padding: 12px 22px;
    line-height: 0px;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 11px;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 1px;
    display: inline-block;
    margin-top: 95px;
}


a.btn-banner:hover, a.btn-banner:focus
{
    background-color: #e43c5c;
    color: #fff;
    border-color: #e43c5c;
    display: inline-block;
}

#banner
{
    background: url('../img/banner-bg.jpg') no-repeat;
    background-size: cover;
    min-height: 500px;
}


.jumbotron h1.small
{
    line-height: 88px;

    font-family: 'Open Sans', sans-serif;
    font-size: 55px;
    letter-spacing: 6px;
    font-weight: 400;
    color: #ffffff;
}

.container .jumbotron, .container-fluid .jumbotron {
    padding-right: 60px;
    padding-left: 0px;
}

.bold
{
    font-weight: bold;
    font-family: 'Josefin Slab';

}

/**************************************
BANNER's DE PÁGINA
**************************************/
.cta-1, .cta-2
{
    background-color: #e43c5c;
    font-size: 20px;
    padding: 40px 0px;
    color:#fff;
}

/**************************************  
Servicios
***************************************/

.service-box {
    margin: 0 0 60px;
    display: inline-block;
}

.pg-titl-bdr-btm {
	width: 100px;
	height: 3px;
	background-color: #e43c5c;
}

.service-box:hover, .service-box:hover i{
    color: #fff;
    background-color: #e43c5c;
    transition: all .2s ease-in-out;
    border-radius: 25px;   
}

.service-box .service-icon {
    padding-top: 10px;
    width: 80px;
    height: 80px;
    /* border-radius: 50px; */
    overflow: hidden;
    /* border: 1px solid #e9e9e9; */
    line-height: 75px;
    text-align: center;
    color: #e43c5c;
    font-size: 60px;
    margin-right: 15px;
    margin-left: 8px;
    float: left;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.service-box .service-text {
    padding-top: 10px;
    width: 70%;
    float: left;
    margin-bottom: 20px;
}

.service-box .service-text h3 {
    margin: 0 0 20px 0;
    padding: 0 0 0 0;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.page-title
{
	margin-bottom: 40px;
}


/* Contact Form */
.text-field-box {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 40px;
    height: 60px;
    line-height: 60px;
    text-align: left;
    color: #666;
    font-size: 14px;
    padding: 0 35px;
    margin-bottom: 30px;
    width: 100%;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
}
.form-sec textarea {
    height: 220px;
}

.validation {
    color: red;
    display:none;
    margin: 0 0 20px;
    font-weight:400;
    font-size:13px;
}

#sendmessage {
    color: green;
    border:1px solid green;
    display:none;
    text-align:center;
    padding:15px;
    font-weight:600;
    margin-bottom:15px;
}

#errormessage {
    color: red;
    display:none;
    border:1px solid red;
    text-align:center;
    padding:15px;
    font-weight:600;
    margin-bottom:15px;
}

#sendmessage.show, #errormessage.show, .show {
	display:block;
}

.button-medium {
    background: #e43c5c;
    border-radius: 40px;
    color: #ffffff;
    cursor: pointer;
    display: block;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 400;
    height: 48px;
    line-height: 48px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    width: 200px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #e43c5c;
    box-shadow: none;
    outline: none;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}


/* Footer */

.footer {
    background-color: #040E18;
}
.footer h3 {
    color: #fff;
    padding-bottom: 30px;
}
.footer_social ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.footer_social ul li {
    margin: 2px;
    display: inline-block;
}
.footer_social ul li a {
    background: #2e3537 none repeat scroll 0 0;
    border: 1px solid #2e3537;
    box-shadow: 0 0 0 7px transparent;
    color: #aaa;
    display: block;
    font-size: 14px;
    height: 40px;
    line-height: 21px;
    padding: 9px 13px;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    width: 40px;
}

.footer_social ul li a i{
    font-size: 15px;
}

.footer-bottom {
    background: #09121B;
    padding: 20px 0;
}
.footer_copyright {
    color: #fff;
    font-size: 16px;
    margin-bottom: 0;
}
.footer_copyright a {
    color: #e43c5c;
}



/* ************************************ LOGIN MODAL************************************ */
body {
    font-family: 'Varela Round', sans-serif;
}

.modal{
background: rgba(4, 14, 24, 0.473);

}

.modal-login {
    width: 400px;
}
.modal-login .modal-content {
    padding: 20px;
    border-radius: 1px;
    border: none;
}

*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.login-wrap{
	width:100%;
	margin:auto;
	max-width:525px;
	min-height:670px;
	position:relative;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;
	background: rgba(0, 0, 0, 0.356);
}

.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}

.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}

.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}

.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff;
	border-color:#e43c5c;
}

.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}

.login-form .group{
	margin-bottom:15px;
}

.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background: #e43c5b59;
}
.login-form .group input[data-type="password"]{
	 text-security:circle; 
	-webkit-text-security:circle;
}
.login-form .group .label{
	color:#aaa;
	font-size:12px;
}
.login-form .group .button{
	background:#e43c5c;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:#e43c5c;
}
.login-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(24, 22, 22, 0.2);
}
.foot-lnk{
    text-align:center;
    color: #fff;
}


